* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 0.65rem;
}

/*h1 {*/
    /*color: rgba(255,198,0,.8);*/
    /*letter-spacing: 2px;*/
    /*font-size: 3.6rem;*/
    /*position: absolute;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*transform: translate(-50%, -450%);*/
/*}*/

.keys {
    background-image: url(percussion.jpg);
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.key {
    border: 2px solid #000000;
    border-radius: 5px;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    transition: all .1s;
    width: 100px;
    text-align: center;
    color: #ffffff;
    background: rgba(0,0,0,.4);
    text-shadow: 0 0 5px #000000;
}

.playing {
    transform: scale(1.2);
    border-color: #ffc600;
    box-shadow: 0 0 50px #ffc600;
}

kbd {
    display: block;
    font-size: 40px;
    text-transform: uppercase;
}

.sound {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #ffc600;
}